#header {
    position: relative;
    width: 100%;
    min-width: 960px;
    height: 188px;
    z-index: 2000;
}
#header #bg1 {
    position: absolute;
    width: 100%;
    min-width: 960px;
    height: 150px;
    background: #000;
}
#header #bg3 {
    position: absolute;
    width: 100%;
    min-width: 960px;
    height: 150px;
    background-image: url('images/bg2-1.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}
.mg-t50 {
    margin-top: 50px;
}
.mg-b50 {
    margin-bottom: 50px;
}